* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("background.png");
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  img {
    padding-right: 1rem;
  }
}
.topnav {
  overflow: hidden;
  margin: 3.5%;

  .header-logo {
    float: left;
  }
  .main-navbar {
    float: right;
    a {
      float: left;
      display: block;
      color: #000000;
      text-align: center;
      padding: 12px 12px;
      margin: 5px;
      text-decoration: none;
      font-size: 20px;
      font-family: Roboto, sans-serif;
      &:hover {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 15px;
      }
      &:active {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 15px;
      }
      .icon {
        display: none;
      }
    }
  }
}
/* Styling modal confirmation */
.confirmation {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  h3 {
    height: 70%;
  }
  .btn-close {
    margin-bottom: 0;
  }
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
  .hero-section {
    min-height: 93vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    .hero-content {
      padding: 51px 67px;
      grid-column: span 4;
      background: #232323;
      color: #fff;
      position: relative;
      text-align: left;
      min-width: 424px;
      .hero-headline {
        font-size: 6rem;
        font-weight: normal;
        white-space: nowrap;
      }
    }
  }
}
